<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.philip.client.dao.AdminDao">
	<sql id="default_column">
		admin.id,
		admin.appkey,
		admin.name,
		admin.pwd,
		admin.role,
		admin.is_disable as isDisable,
		admin.gmt_create as gmtCreate,
		admin.gmt_modify as gmtModify
	</sql>
	<select id="queryOne" resultType="com.philip.client.model.Admin">
		select
		<include refid="default_column" />
		from admin
		where admin.id=#{id}
			and admin.is_disable = 0
		limit 1
	</select>
	<select id="queryByName" parameterType="java.lang.String" resultType="com.philip.client.model.Admin">
		select
		<include refid="default_column" />
		from admin
		where admin.name = #{name}
			and admin.is_disable = 0
		limit 1
	</select>
	<select id="queryByAppKey" parameterType="java.lang.String" resultType="com.philip.client.model.Admin">
		select
		<include refid="default_column" />
		from admin
		where admin.appkey = #{appkey}
			and admin.is_disable = 0
		limit 1
	</select>
	<select id="queryByRole" parameterType="java.lang.Integer" resultType="com.philip.client.model.Admin">
		select
		<include refid="default_column" />
		from admin
		where
			<if test="role != null">
				admin.role = #{role} and 
			</if> 
			admin.is_disable = 0
	</select>
	
	<insert id="insert" parameterType="com.philip.client.model.Admin" keyProperty="id">
		insert into admin (
			appkey,
			name,
			`pwd`,
			`role`,
			is_disable,
			gmt_create,
			gmt_modify,
			)
		values(
			#{appkey},
			#{name},
			#{pwd},
			#{role},
			#{isDisable},
			now(),now())
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete from admin
		where id = #{id}
	</delete>

	<update id="update" parameterType="com.philip.client.model.Admin">
		update admin
		<set>
			<if test="appkey != null">
				appkey = #{appkey},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="pwd != null">
				`pwd` = #{pwd},
			</if>
			<if test="role != null">
				`role` = #{role},
			</if>
			<if test="isDisable != null">
				is_disable = #{isDisable},
			</if>
			gmt_modify = now()
		</set>
		where `id` = #{id}
	</update>
	
	<select id="countByAppKey" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from admin 
		where `appkey` = #{appkey}
	</select>

</mapper>