<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoman.client.dao.company.CompanyDao">
	<sql id="default_column">
		`company`.`id`,
		`company`.`name`,
		`company`.`logo`,
		`company`.`description`,
		`company`.`uid_created` as uidCreated,
		`company`.`gmt_created` as gmtCreated,
		`company`.`gmt_modified` as gmtModified,
		`company`.`is_disabled` as isDisabled,
		`company`.`invite_code` as inviteCode
	</sql>
	<sql id="user_column">
		`user_profile`.`id` as `profile.id`,
		`user_profile`.`nick_name` as `profile.nickName`,
		`user_profile`.`email` as `profile.email`,
		`user_profile`.`mobile` as `profile.mobile`,
		`user_profile`.`cid_default` as `profile.cidDefault`,
		`user_profile`.`avatar` as `profile.avatar`,
		`user_profile`.`gender` as `profile.gender`,
		`user_profile`.`birthday` as `profile.birthday`,
		`user_profile`.`old_uid` as `profile.oldUid`,
		`user_profile`.`gmt_created` as `profile.gmtCreated`,
		`user_profile`.`gmt_modified` as `profile.gmtModified`,
		`user_profile`.`invite_code` as inviteCode,
		`user_profile`.`company_name` as companyName,
		`user_profile`.`job_position` as jobPosition,
		`user_profile`.`address` as address
	</sql>
	
	<select id="queryModel" resultType="com.daoman.client.model.company.CompanyModel">
		select
		<include refid="default_column" />,
		<include refid="user_column"/>
		from company
		inner join `user_profile` on `company`.uid_created = `user_profile`.id
		where company.id=#{id}
	</select>
	<select id="queryModel4App" resultType="com.daoman.client.model.company.CompanyModel">
		select
		<include refid="default_column" />
		from company
		where company.id=#{id}
	</select>
	
	<insert id="insert" parameterType="com.daoman.client.model.company.Company"
		keyProperty="id">
		insert into company (
			`name`,
			<if test="logo != null">`logo`,</if>
			<if test="description != null">`description`,</if>
			`uid_created`,
			`gmt_created`,
			`gmt_modified`,
			`is_disabled`,
			`invite_code`)
		values(
			#{name},
			<if test="logo != null">
				#{logo},
			</if>
			<if test="description != null">
				#{description},
			</if>
			#{uidCreated},
			now(),now(),
			#{isDisabled},
			#{inviteCode})
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete from company
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<update id="update" parameterType="com.daoman.client.model.company.Company">
		update company
		<set>
			<if test="name != null">
				`name` = #{name},
			</if>
			<if test="logo != null">
				`logo` = #{logo},
			</if>
			<if test="description != null">
				`description` = #{description},
			</if>
			<if test="uidCreated != null">
				`uid_created` = #{uidCreated},
			</if>
			<if test="isDisabled != null">
				`is_disabled` = #{isDisabled},
			</if>
			`gmt_modified` = now()
		</set>
		where `id` = #{id}
	</update>

	<select id="queryModelByTargetUid" parameterType="java.lang.Long"
		resultType="com.daoman.client.model.company.CompanyModel">
		select
		<include refid="default_column" />
		from `company`
		inner join `company_member` on company.id = company_member.cid
		where company_member.target_uid = #{uid}
	</select>

	<select id="queryCidByInviteCode" resultType="java.lang.Long">
		select id from
		company where invite_code=#{inviteCode} limit 1
	</select>

	<select id="countInviteCode" resultType="java.lang.Integer">
		select count(*) as c
		from company where invite_code like concat(#{inviteCode},'%')
	</select>

</mapper>