<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoman.client.dao.CustomerAppDao">
	<sql id="default_column">
		customer_app.id,
		customer_app.app_key as appKey,
		customer_app.secret,
		customer_app.domain,
		customer_app.storage_type as storageType,
		customer_app.upload_url as uploadUrl,
		customer_app.download_url as downloadUrl,
		customer_app.login_url as loginUrl,
		customer_app.logout_url as logoutUrl,
		customer_app.gmt_created as gmtCreated,
		customer_app.gmt_modified as gmtModified,
		customer_app.is_active as isActive
	</sql>
	<select id="queryModel" resultType="com.daoman.client.model.CustomerApp">
		select
		<include refid="default_column" />
		from customer_app
		where customer_app.id=#{id}
	</select>
	<select id="queryModelByAppKey" parameterType="java.lang.String"
		resultType="com.daoman.client.model.CustomerApp">
		select
		<include refid="default_column" />
		from customer_app
		where customer_app.app_key = #{appKey}
	</select>
	
	<insert id="insert" parameterType="com.daoman.client.model.CustomerApp"
		keyProperty="id">
		insert into customer_app (
			app_key,
			secret,
			<if test="domain != null">domain,</if>
			storage_type,
			<if test="uploadUrl != null">upload_url,</if>
			<if test="downloadUrl != null">download_url,</if>
			<if test="loginUrl != null">login_url,</if>
			<if test="logoutUrl != null">logout_url,</if>
			gmt_created,
			gmt_modified,
			is_active)
		values(
			#{appKey},
			#{secret},
			<if test="domain != null">
				#{domain},
			</if>
			#{storageType},
			<if test="uploadUrl != null">
				#{uploadUrl},
			</if>
			<if test="downloadUrl != null">
				#{downloadUrl},
			</if>
			<if test="loginUrl != null">
				#{loginUrl},
			</if>
			<if test="logoutUrl != null">
				#{logoutUrl},
			</if>
			now(),now(),
			#{isActive})
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete from customer_app
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<update id="update" parameterType="com.daoman.client.model.CustomerApp">
		update customer_app
		<set>
			<if test="appKey != null">
				app_key = #{appKey},
			</if>
			<if test="secret != null">
				secret = #{secret},
			</if>
			<if test="domain != null">
				domain = #{domain},
			</if>
			<if test="storageType != null">
				storage_type = #{storageType},
			</if>
			<if test="uploadUrl != null">
				upload_url = #{uploadUrl},
			</if>
			<if test="downloadUrl != null">
				download_url = #{downloadUrl},
			</if>
			<if test="loginUrl != null">
				login_url = #{loginUrl},
			</if>
			<if test="logoutUrl != null">
				logout_url = #{logoutUrl},
			</if>
			gmt_modified = now()
		</set>
		where id = #{id}
	</update>

</mapper>