<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoman.client.dao.CustomerAdminDao">
	<sql id="default_column">
		customer_admin.id,
		customer_admin.app_key,
		customer_admin.login_name,
		customer_admin.`password`,
		customer_admin.gmt_created,
		customer_admin.gmt_modified,
		customer_admin.is_active
	</sql>
	<select id="queryModel" resultType="com.daoman.client.model.CustomerAdmin">
		select
		<include refid="default_column" />
		from customer_admin
		where customer_admin.id=#{id}
	</select>
	<select id="queryModelByLoginName" parameterType="java.lang.String"
		resultType="com.daoman.client.model.CustomerAdmin">
		select
		<include refid="default_column" />
		from customer_admin
		where customer_admin.login_name = #{loginName}
	</select>
	<select id="queryModelByAppKey" parameterType="java.lang.String"
		resultType="com.daoman.client.model.CustomerAdmin">
		select
		<include refid="default_column" />
		from customer_admin
		where customer_admin.app_key = #{appKey}
	</select>
	
	<insert id="insert" parameterType="com.daoman.client.model.CustomerAdmin"
		keyProperty="id">
		insert into customer_admin (
			app_key,
			login_name,
			`password`,
			gmt_created,
			gmt_modified,
			is_active)
		values(
			#{appKey},
			#{loginName},
			#{password},
			now(),now())
	</insert>
	<delete id="delete" parameterType="java.lang.Long">
		delete from customer_admin
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<update id="update" parameterType="com.daoman.client.model.CustomerAdmin">
		update customer_admin
		<set>
			<if test="appKey != null">
				app_key = #{appKey},
			</if>
			<if test="loginName != null">
				login_name = #{loginName},
			</if>
			<if test="password != null">
				`password` = #{password},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			gmt_modified = now()
		</set>
		where `id` = #{id}
	</update>

</mapper>