<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daoman.client.dao.CustomerCompanyDao">
	<sql id="default_column">
		customer_company.id,
		customer_company.app_key as appKey,
		customer_company.cid,
		customer_company.auth_code as authCode,
		customer_company.gmt_created as gmtCreated,
		customer_company.gmt_modified as gmtModified
	</sql>
	<sql id="company_column">
		company.id as `company.id`,
		company.name as `company.name`,
		company.logo as `company.logo`,
		company.description as `company.description`,
		company.uid_created as `company.uidCreated`,
		company.gmt_created as `company.gmtCreated`,
		company.gmt_modified as `company.gmtModified`,
		company.is_disabled as `company.isDisabled`,
		company.invite_code as `company.inviteCode`
	</sql>
	
	<select id="queryModel" resultType="com.daoman.client.model.CustomerCompanyModel">
		select
		<include refid="default_column" />
		,
		<include refid="company_column" />
		from customer_company
		inner join company on customer_company.cid = company.id
		where customer_company.id=#{id}
	</select>
	
	<select id="queryModelByCid" resultType="com.daoman.client.model.CustomerCompanyModel">
		select
		<include refid="default_column" />
		,
		<include refid="company_column" />
		from customer_company
		inner join company on customer_company.cid = company.id
		where customer_company.cid=#{cid}
	</select>
	
	<select id="queryModelsByAppKey" resultType="com.daoman.client.model.CustomerCompanyModel">
		select
		<include refid="default_column" />
		, num,
		<include refid="company_column" />
		from customer_company
		inner join company on customer_company.cid = company.id
		left join team on customer_company.cid = team.cid
		where
		customer_company.app_key = #{appKey,jdbcType=VARCHAR}
		and team.is_system = 1 
		and company.is_disabled = 0
		order by
		customer_company.id desc
	</select>
	
	<insert id="insert" parameterType="com.daoman.client.model.CustomerCompany"
		keyProperty="id">
		insert into customer_company (
			app_key,
			cid,
			auth_code,
			gmt_created,
			gmt_modified)
		values(
			#{appKey},
			#{cid},
			#{authCode},
			now(),now())
	</insert>
	
	<select id="countByAppKey" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from customer_company where `app_key` = #{appKey,jdbcType=VARCHAR}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from customer_company
		where id = #{id,jdbcType=BIGINT}
	</delete>

	<update id="update" parameterType="com.daoman.client.model.CustomerCompany">
		update customer_company
		<set>
			<if test="appKey != null">
				app_key = #{appKey},
			</if>
			<if test="cid != null">
				cid = #{cid},
			</if>
			`gmt_modified` = now()
		</set>
		where `id` = #{id}
	</update>


</mapper>