<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.philip.client.dao.GoodsDao">
	<sql id="default_column">
		goods.id,
		goods.name,
		goods.price,
		goods.mark,
		goods.type,
		goods.status,
		goods.cover,
		goods.detail,
		goods.pay_type as payType,
		goods.gmt_create as gmtCreate,
		goods.gmt_modify as gmtModify
	</sql>
	<sql id="style_column">
		style.content		
	</sql>
	<sql id="picture_column">
		picture.pic_url as picUrl
	</sql>
	<sql id="goods_cond">
		<where>
			<if test="cond.status !=null">
				and status=#{cond.status}
			</if>
			<!-- <if test="cond.gid !=null">
				and gid=#{cond.gid}
			</if> -->
		</where>
	</sql>
	
	<select id="queryOne" resultType="com.philip.client.model.Goods">
		select
		<include refid="default_column" />
		from `goods`
		where `goods`.id=#{id}
		limit 1
	</select>
	<select id="queryModel" resultType="com.philip.client.model.GoodsModel">
		select
		<include refid="default_column" />
		from `goods`
		where `goods`.id=#{id}
		limit 1
	</select>
	<select id="queryAll" resultType="com.philip.client.model.Goods">
		select
		<include refid="default_column" />
		from `goods`
		where `status` = 0
		limit 10
	</select>
	<select id="countAll" resultType="java.lang.Integer">
		select count(*)
		from `goods`
		where `status` = 0
	</select>
	<insert id="insert" parameterType="com.philip.client.model.Goods" useGeneratedKeys="true" keyProperty="id">
		insert into goods (
			name,
			price,
			mark,
			type,
			status,
			gmt_create,
			gmt_modify
			)
		values(
			#{name},
			#{price},
			#{mark},
			#{type},
			#{status},
			now(),now())
		<selectKey resultType="java.lang.Long" keyProperty="id" >
           select last_insert_id()
        </selectKey>
	</insert>
	<update id="update" parameterType="com.philip.client.model.Goods">
		update goods
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="price != null">
				price = #{price},
			</if>
			<if test="mark != null">
				`mark` = #{mark},
			</if>
			<if test="type != null">
				`type` = #{type},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			gmt_modify = now()
		</set>
		where `id` = #{id}
	</update>
	<select id="queryByCond" parameterType="com.philip.client.cond.GoodsCond" resultType="com.philip.client.model.GoodsModel">
		select 
		<include refid="default_column"/>
		from goods
		<include refid="goods_cond"></include>
	</select>
</mapper>