html, body {
  height:100%;
  font-size:62.5%;
}
body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-size:1.4em;
}
a{
  text-decoration: none;
}
ul{
  list-style:none;
}
img{
  max-width: 100%;
}
a,button,input{
  -moz-outline:none;
  outline:none;
}
.btn.active{
  border-color:#FE7106;
}
.icon-btn{
  border:none;
  background:none;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.table-cell{
  display:table-cell;
}
.header{
  background:#FC3441;
  box-shadow: 0px 1px 3px #bbb;
  height: 36px;
  line-height: 36px;
}
.header .icon-btn{
  font-size: 26px;
  width: 50px;
  height:36px;
  color: #FDECF0;
}
.header .back{
  background:url('../images/back.png') no-repeat center;
}
.header .title{
  margin-top: -30px;
  text-indent: 60px;
  line-height: 22px;
  font-weight: bold;
  font-size:18px;
  color:#FDECF0;
}
.container{
  width:100%;
  height: 100%;
  padding:0;
  overflow-x:hidden;
}

/***slide**/
.animate {
  -webkit-transition: all .3s ease-out;
}

#slideList {
  white-space: nowrap;
  width: 100%;
  height: 40%;
  font-size: 0;
  -webkit-transform: translate3d(0px,0,0);
}
#slideList .slide-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow:hidden;
}
#slideList .slide-item img{
  float:left;
  width:100%;
}
/*****product-list********/
#productList{
  background:#f6f6f6;
}
.product-list .block-title{
  background: #fff;
  line-height: 40px;
  text-indent:10px;
  font-weight: bold;
  border:1px solid #e9e9e9;
  border-width:1px 0;
}
.product-list ul{
  overflow: hidden;
  padding:10px 15px;
}
.product-list li{
  margin-bottom:20px;
}
.product-list li a{
  display:block;
  border-bottom:1px solid #ccc;
  background:#fff;
}
.product-list li .title{
  padding:0 10px;
  color:#333;
}
.product-list li .price{
  padding:10px;
  display:block;
}

.product-list li img{
  width:100%;
}
.product-list li .title{
  line-height:24px;
}
.product-list li .price{
  color: #FE7106;
}
.back-to-top{
  position:fixed;
  right:10px;
  bottom:50px;
}
.back-to-top .btn{
  width:40px;
  height:40px;
  background:url('../images/top.png') no-repeat 0 0;
  background-size:100%;
  border:none;
}
/*****product-detail****/
.product-content{
  padding:10px;
}
.product-content .title{
  font-size: 1.6em;
}
.product-content .price{
  color: #FE7106;
  padding:2px 0;
  margin:10px 0;
}
.product-content .tag{
  background: #FE4906;
  border-radius: 3px;
  padding: 2px;
  margin:0 10px;
  color: #eee;
  font-size: 12px;
}
.product-select{
  background:#EFEFEF;
  padding:10px;
  margin:10px 0;
}
.product-select .arrow{
  float:right;
  cursor:pointer;
  color:#999;
}
.product-detail{
  text-align:center;
}
/***order*****/
.express-info{
  background:url('../images/mail_bg.png') repeat-x center bottom;
  padding:20px;
  position: relative;
  margin-bottom:20px;
}
.express-info ul{
  list-style:none;
  padding:0;
}
.express-info ul li{
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
.express-info ul li:last-child{
  border:none;
}
.express-info li.active{
  background: url('../images/m-select.png') no-repeat right center;
}
.express-info .icon-btn{
  font-size: 40px;
  line-height: 1px;
  position: absolute;
  right: 20px;
  height: 40px;
  top: 22px;
  color:#666;
  width:20px;
}
.express-info .arrow{
  background:url('../images/arrow.png') no-repeat center;
}
.express-info .add-address{
  overflow: hidden;
  padding: 20px 0 0;
  border-top: 1px dotted #ddd;
  margin: 20px 0 0;
}
.express-info .add-address .btn{
  margin-top:10px;
}
.goods .main-info{
  padding:0;
}
.goods .main-info img{
  min-width:60px;
}
.goods .specification{
  color:#888;
  padding-bottom:20px;
}
.goods .price{
  color:#FE7106;
  font-size:16px;
}
.goods .count{
  font-size:16px;
  float:right;
}
.goods .result-item{
  border-bottom:1px solid #eee;
  padding:15px;
}
.goods .counter{
  float:right;
}
.goods .result-item input{
  border:none;
}
.goods .total-result{
  padding:15px;
}
.goods li{
  border-bottom:1px solid #fafafa;
  float:left;
  width:100%;
  padding:10px 0;
  background:#efefef;
}
/*******order-list********/
.order-state{
  line-height:30px;
  font-size:14px;
  padding:6px 10px;
  background:#F5F5F5;
  border-bottom:1px solid #eee;
}
.success-btn{
  background:#FE7106;
  color:#fff;
  font-weight:bold;
}
.no-order{
  background:url('../images/no-order.png') no-repeat center 30%;
  width:100%;
  height:100%;
}
.order-state .status{
  float:right;
  color:#FE4906;
}
.order-list{
  list-style:none;
  float:left;
  margin:0;
  padding-left:10px;
}
.order-list li{
  float:left;
  width:100%;
  padding:10px 0;
  border-bottom:1px solid #eee;
  position:relative;
  margin-bottom:10px;
}
.order-list .item-detail{
  padding-right:10px;
}
.order-list .select-btn{
  width:30px;
  height:30px;
  background:url('../images/unselect.png') no-repeat center;
  float:left;
}
.order-list .select-success{
  background:url('../images/select.png') no-repeat center;
}
.order-list .set-block{
  display:none;
  position:relative;
}
.order-list .block-right{
  position:absolute;
  right:0;
  top:0;
  bottom:0;
}
.order-list .block-right .btn{
  display: block;
  background: #FE7106;
  padding: 10px 6px;
  margin-bottom: 10px;
  height:100%;
  color:#fefefe;
  border-radius:0;
  -moz-border-radius: 0;
}
.order-list .block-right .cancel-btn{
  background:#ddd;
  color:#333;
  border-radius:3px;
  -moz-radius:3px;
  margin-right:10px;
  height:30px;
  line-height:1px;
}
.order-list ul{
  padding:0;
}
.toolbar{
  padding:6px;
  margin-top:20px;
  background: #f6f6f6;
  text-align: right;
  float:left;
  width:100%;
}

.toolbar .btn{
  float:right;
}
.order-btns{
  padding-right:10px;
  float:left;
  width:100%;
}
.order-btns .btn{
  float:right;
}
/******footer********/
.footer{
  background-color: #fefefe;
  text-align:right;
  padding:10px;
  position: fixed;
  bottom:0;
  width:100%;
}
.footer .btn-order{
  background:#FC3441;
  color:#fff;
  font-weight:bold;
  margin-left:10px;
}
.footer .add-to-cart{
  background:#FE7106;
  color:#fff;
  font-weight:bold;
}
.footer .cart{
  width: 30px;
  background-size: 100%;
  text-indent: -999em;
  float: left;
  background: transparent url('../images/cart.jpg') no-repeat center;
  background-size:100%;
}
.footer .select-all{
  width:70px;
  height:30px;
  background:url('../images/unselect.png') no-repeat left center;
  float:left;
  text-align:right;
  margin-right:10px;
}
.footer .delete-more{
  float:left;
  background:transparent;
  height: 30px;
  padding: 1px 12px;
}
.footer .select-success{
  background:url('../images/select.png') no-repeat left center;
}
/***popup*****/
.popup{
  display:none;
  position: fixed;
  bottom: -400px;
  bottom:60px;
  padding-bottom:40px;
  background: #fff;
  max-height: 70%;
  left:0;
  right:0;
  padding:10px;
  -webkit-transition: all .3s ease-out;
}
.popup .thumbnail{
  width:130px;
  margin-top: -20px;
  border: 5px solid #fff;
}

.popup .close-btn{
  position: absolute;
  right: 0;
  top: 10px;
  border: none;
  background: none;
  font-size: 20px;
}

.popup .add-order{
  width:80%;
  background: #FE7106;
  color:#fff;
}

.popup .order-item{
  padding-bottom:10px;
}
