H1 {
	font-family: Tahoma,Arial,sans-serif;
	color: white;
	background-color: #525D76;
	font-size: 30px;
}

H2 {
	font-family: Tahoma,Arial,sans-serif;
	color: white;
	margin-left: 300px;
	font-size: 25px;
}

H3 {
	font-family: Tahoma,Arial,sans-serif;
	color: white;
	font-size: 20px;
}

BODY {
	font-family: Tahoma,Arial,sans-serif;
	color: white;
}

B {
	font-family: Tahoma,Arial,sans-serif;
	color: white;
	background-color: #525D76;
}

P {
	font-family: Tahoma,Arial,sans-serif;
	background: white;
	color: black;
	font-size: 15px;
}

A {
	color: black;
}

A.name {
	color: black;
}

HR {
	color: #525D76;
}

div{ 
	word-wrap: break-word; 
	word-break: normal; 
}

div.back{
	background: url("/img/back_ground.png");
	background-size:100%;
}

#urlContent div{
	line-height:24px;
}